<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="{8fd8cf6c-6a73-4efa-b90f-bc397a9d24e3}"
           Name="SmartPrint Service"
           Language="1033"
           Version="1.0.0.0"
           Manufacturer="Soletis bvba"
           UpgradeCode="8cf4c4f5-a2ae-4a83-8376-29b43d9bdbd1">

    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine" />

    <Binary Id="DriverActionFile"
            SourceFile="$(var.SmartPrint.DriverSetupAction.TargetDir)SmartPrint.DriverSetupAction.CA.dll" />

    <CustomAction Id="ConfigureDriver"
                  Impersonate="no"
                  Return="check"
                  Execute="deferred"
                  DllEntry="DriverAction"
                  BinaryKey="DriverActionFile" />

    <InstallExecuteSequence>
      <Custom Action="ConfigureDriver"
              Before="InstallFinalize" />
    </InstallExecuteSequence>

    <Media Id="1"
           Cabinet="SmartPrintServiceComponent.cab"
           EmbedCab="yes"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of SmartPrint service is already installed." />

    <Directory Id="TARGETDIR"
               Name="SourceDir">

      <Directory Id="SystemFolder"
                 ShortSourceName="SYSTEM~1"
                 SourceName="System Folder">
        <Component Id="mfilemonUI.dll.Component"
                   Guid="{1B6EFB45-3CCE-4B13-C4EB-3A5EA539DED6}">
          <File Id="mfilemonUI.dll.File"
                Name="mfilemonUI.dll"
                KeyPath="yes"
                ShortName="MFILEM~1.DLL"
                DiskId="1"
                Source="..\Lib\Driver\32bit\Port Driver\Win8\mfilemonUI.dll" />
        </Component>
        <Component Id="mfilemon.dll.Component"
                   Guid="{BEA280FD-21F7-CD45-FEF5-BBECFC2C6EA4}">
          <File Id="mfilemon.dll.File"
                Name="mfilemon.dll"
                KeyPath="yes"
                ShortName="MFILEMON.DLL"
                DiskId="1"
                Source="..\Lib\Driver\32bit\Port Driver\Win8\mfilemon.dll" />
        </Component>
        <Directory Id="Spool.Directory"
                   Name="spool"
                   ShortName="SPOOL">
          <Directory Id="Drivers.Directory"
                     Name="drivers"
                     ShortName="DRIVERS">
            <Directory Id="W32X86.Directory"
                       Name="W32X86">
              <Component Id="SMARTPRINTER.PPD.Component"
                        Guid="{1021A3D2-9746-4DC4-B534-BCA5BDE9468F}">
              <File Id="SMARTPRINTER.PPD.File"
                    Name="SMARTPRINTER.PPD"
                    KeyPath="yes"
                    ShortName="SMARTP~1.PPD"
                    DiskId="1"
                    Source="..\Lib\Driver\32bit\Printer Driver\WinXp\SMARTPRINTER.PPD" />
            </Component>
              <Component Id="PSCRIPT5.DLL.Component"
                        Guid="{9D923EC0-2DD0-54ED-B76C-20FD16409985}">
              <File Id="PSCRIPT5.DLL.File"
                    Name="PSCRIPT5.DLL"
                    KeyPath="yes"
                    DiskId="1"
                    Source="..\Lib\Driver\32bit\Printer Driver\WinXp\PSCRIPT5.DLL" />
            </Component>
              <Component Id="PS5UI.DLL.Component"
                        Guid="{ADB75450-5A47-8BC5-B774-34AE17578794}">
              <File Id="PS5UI.DLL.File"
                    Name="PS5UI.DLL"
                    KeyPath="yes"
                    DiskId="1"
                    Source="..\Lib\Driver\32bit\Printer Driver\WinXp\PS5UI.DLL" />
            </Component>
              <Component Id="PSCRIPT.HLP.Component"
                        Guid="{3ECC43CE-071B-548C-BC0B-C2B7BE47C962}">
              <File Id="PSCRIPT.HLP.File"
                    Name="PSCRIPT.HLP"
                    KeyPath="yes"
                    DiskId="1"
                    Source="..\Lib\Driver\32bit\Printer Driver\WinXp\PSCRIPT.HLP" />
            </Component>
              <Component Id="PSCRIPT.NTF.Component"
                        Guid="{C78877E2-883B-DA4A-0F8B-7EBFA72F5DC2}">
              <File Id="PSCRIPT.NTF.File"
                    Name="PSCRIPT.NTF"
                    KeyPath="yes"
                    DiskId="1"
                    Source="..\Lib\Driver\32bit\Printer Driver\WinXp\PSCRIPT.NTF" />
            </Component>

            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER"
                   Name="Smart Printer">
          <Component Id="SmartPrinter.Component"
                     Guid="BF697FB3-0CBB-406D-B868-304E71D5427C">
            <File Source="$(var.SmartPrinter.UI.TargetPath)" />
            <File Source="$(var.SmartPrinter.UI.TargetDir)SmartPrint.Model.dll" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature"
             Title="SmartPrint.Setup"
             Level="1">
      <ComponentRef Id="mfilemonUI.dll.Component" />
      <ComponentRef Id="mfilemon.dll.Component" />
      <ComponentRef Id="PSCRIPT5.DLL.Component" />
      <ComponentRef Id="PS5UI.DLL.Component" />
      <ComponentRef Id="SMARTPRINTER.PPD.Component" />
      <ComponentRef Id="PSCRIPT.NTF.Component" />
      <ComponentRef Id="PSCRIPT.HLP.Component" />
      <ComponentRef Id="SmartPrinter.Component" />
    </Feature>
  </Product>
</Wix>