<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="*"
           Name="SMARTdoc Share"
           Language="1033"
           Version="1.0.0.0"
           Manufacturer="SMARTdoc"
           UpgradeCode="{8CF4C4F5-A2AE-4A83-8376-29B43D9BDBD1}">

    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine" />

    <!--Check for .Net Framework 3.5 -->
    <PropertyRef Id='NETFRAMEWORK35'/>

    <Condition Message="This application requires .NET Framework 3.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK35]]>
    </Condition>

    <MajorUpgrade DowngradeErrorMessage="A newer version of SMARTdoc Share is already installed." />

    <Media Id="1"
           Cabinet="SMARTdocShareComponent.cab"
           EmbedCab="yes"/>

    <Binary Id="CustomActionsFile"
            SourceFile="$(var.SmartPrint.DriverSetupAction.TargetDir)SmartPrint.DriverSetupAction.CA.dll" />

    <Property Id="ASSISTANCE_START_VIA_REGISTRY">1</Property>

    <!--Property Id="MFILEMON_DLL_PRESENT">
      <DirectorySearch Id="SystemFolderSearch"
                       Path="[SystemFolder]"
                       AssignToProperty="no"
                       Depth="0">
        <FileSearch Id="Mfilemon.dll.Search"
                    Name="mfilemon.dll"/>
      </DirectorySearch>
    </Property>

    <Property Id="MFILEMONUI_DLL_PRESENT">
      <DirectorySearchRef Id="SystemFolderSearch"
                          Path="[SystemFolder]">
        <FileSearch Id="MfilemonUI.dll.Search"
                    Name="mfilemonUI.dll" />
      </DirectorySearchRef>
    </Property-->

    <CustomAction Id="GetPrinterDriverDir"
                  Return="check"
                  Execute="immediate"
                  DllEntry="GetPrinterDriverDir"
                  BinaryKey="CustomActionsFile" />

    <CustomAction Id="SetPrinterDriverDir"
                  Directory="DRIVER_DIR"
                  Value="[DRIVER_PATH]" />
    
    <CustomAction Id="InstallPrinter"
                  Impersonate="no"
                  Return="check"
                  Execute="deferred"
                  DllEntry="InstallSmartPrint"
                  BinaryKey="CustomActionsFile" />

    <CustomAction Id="RollbackPrinter"
                  Impersonate="no"
                  Return="ignore"
                  Execute="rollback"
                  DllEntry="UninstallSmartPrint"
                  BinaryKey="CustomActionsFile" />

    <CustomAction Id="UninstallPrinter"
                  Impersonate="no"
                  Return="ignore"
                  Execute="deferred"
                  DllEntry="UninstallSmartPrint"
                  BinaryKey="CustomActionsFile" />

    <CustomAction Id="LaunchTrayApp"
                  Return="asyncNoWait"
                  ExeCommand=""
                  FileKey="SmartPrinter.UI.Exe.FIle" />

    <!--CustomAction Id="CloseTrayApp"
                  Return="check"
                  Directory="SystemFolder"
                  ExeCommand="taskkill.exe /F /IM SmartPrinter.UI.exe /T" /-->

    <CustomAction Id="RestartSpoolService"
                  Impersonate="no"
                  Return="check"
                  Execute="deferred"
                  DllEntry="RestartSpoolService"
                  BinaryKey="CustomActionsFile" />
    
    <CustomAction Id="SetRegistryPermissions"
                  Impersonate="no"
                  Return="check"
                  Execute="deferred"
                  DllEntry="SetRegistryPermissions"
                  BinaryKey="CustomActionsFile" />

    <InstallUISequence>
    </InstallUISequence>

    <InstallExecuteSequence>
      
      <Custom Action="GetPrinterDriverDir"
              After="CostFinalize">
        NOT UPGRADINGPRODUCTCODE
      </Custom>
      
      <Custom Action="SetPrinterDriverDir"
              After="GetPrinterDriverDir">
        NOT UPGRADINGPRODUCTCODE
      </Custom>

      <!--Custom Action="CloseTrayApp"
              Before="InstallValidate">
        Installed OR UPGRADINGPRODUCTCODE
      </Custom-->
      
      <Custom Action="UninstallPrinter"
              After="InstallInitialize">
        Installed OR UPGRADINGPRODUCTCODE
      </Custom>

      <Custom Action="RollbackPrinter"
              Before="InstallPrinter">
        NOT Installed OR UPGRADINGPRODUCTCODE
      </Custom>

      <Custom Action="InstallPrinter"
              Before="SetRegistryPermissions">
        NOT Installed OR UPGRADINGPRODUCTCODE
      </Custom>

      <Custom Action="SetRegistryPermissions"
              Before="InstallFinalize">
        NOT Installed OR UPGRADINGPRODUCTCODE
      </Custom>

      <Custom Action="LaunchTrayApp"
              After="InstallFinalize">
        NOT Installed
      </Custom>
    
    </InstallExecuteSequence>

    <Directory Id="TARGETDIR"
               Name="SourceDir">

      <Directory Id="SystemFolder"
                 ShortSourceName="SYSTEM~1"
                 SourceName="System Folder">

        <Component Id="mfilemonUI.dll.Component"
                   Guid="{1B6EFB45-3CCE-4B13-C4EB-3A5EA539DED6}">
          <File Id="mfilemonUI.dll.File"
                Name="mfilemonUI.dll"
                KeyPath="yes"
                ShortName="MFILEM~1.DLL"
                DiskId="1"
                Source="..\Lib\Driver\32bit\Port Driver\Win8\mfilemonUI.dll" />
          <!--Condition><![CDATA[NOT MFILEMONUI_DLL_PRESENT]]></Condition-->
        </Component>
        <Component Id="mfilemon.dll.Component"
                   Guid="{BEA280FD-21F7-CD45-FEF5-BBECFC2C6EA4}">
          <File Id="mfilemon.dll.File"
                Name="mfilemon.dll"
                KeyPath="yes"
                ShortName="MFILEMON.DLL"
                DiskId="1"
                Source="..\Lib\Driver\32bit\Port Driver\Win8\mfilemon.dll" />
          <!--Condition><![CDATA[NOT MFILEMON_DLL_PRESENT]]></Condition-->
        </Component>
      </Directory>
      <!-- SystemFolder -->

      <Directory Id="DRIVER_DIR"
                 Name="Driver Install Directory">
        
        <Component Id="SMARTPRINTER.PPD.Component"
                   Guid="{1021A3D2-9746-4DC4-B534-BCA5BDE9468F}">
          <File Id="SMARTPRINTER.PPD.File"
                Name="SMARTPRINTER.PPD"
                KeyPath="yes"
                ShortName="SMARTP~1.PPD"
                DiskId="1"
                Source="..\Lib\Driver\32bit\Printer Driver\WinXp\SMARTPRINTER.PPD" />
        </Component>
        
        <Component Id="PSCRIPT5.DLL.Component"
                   Guid="{9D923EC0-2DD0-54ED-B76C-20FD16409985}">
          <File Id="PSCRIPT5.DLL.File"
                Name="PSCRIPT5.DLL"
                KeyPath="yes"
                DiskId="1"
                Source="..\Lib\Driver\32bit\Printer Driver\WinXp\PSCRIPT5.DLL" />
        </Component>
        
        <Component Id="PS5UI.DLL.Component"
                   Guid="{ADB75450-5A47-8BC5-B774-34AE17578794}">
          <File Id="PS5UI.DLL.File"
                Name="PS5UI.DLL"
                KeyPath="yes"
                DiskId="1"
                Source="..\Lib\Driver\32bit\Printer Driver\WinXp\PS5UI.DLL" />
        </Component>
        <Component Id="PSCRIPT.HLP.Component"
                   Guid="{3ECC43CE-071B-548C-BC0B-C2B7BE47C962}">
          <File Id="PSCRIPT.HLP.File"
                Name="PSCRIPT.HLP"
                KeyPath="yes"
                DiskId="1"
                Source="..\Lib\Driver\32bit\Printer Driver\WinXp\PSCRIPT.HLP" />
        </Component>
        <Component Id="PSCRIPT.NTF.Component"
                   Guid="{C78877E2-883B-DA4A-0F8B-7EBFA72F5DC2}">
          <File Id="PSCRIPT.NTF.File"
                Name="PSCRIPT.NTF"
                KeyPath="yes"
                DiskId="1"
                Source="..\Lib\Driver\32bit\Printer Driver\WinXp\PSCRIPT.NTF" />
        </Component>
      </Directory>
      <!-- DriverFolder -->

      <Directory Id="ProgramFilesFolder">
        
        <Directory Id="SMARTdocFolder"
                   Name="SMARTdoc">
          
          <Directory Id="INSTALLFOLDER"
                     Name="Share">
            
            <!--Component Id="Autorun.Component"
                       Guid="{D9CEA304-0F33-403A-AEF1-AB46FC206CBC}">
              <RegistryKey Id="Autorun.RegistryKey"
                           Root="HKLM"
                           Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run"
                           ForceCreateOnInstall="yes">
                <RegistryValue Id="SmartdocAutorun.RegistryValue"
                               KeyPath="yes"
                               Name="SMARTdoc Share"
                               Value="[INSTALLFOLDER]SmartPrinter.UI.exe"
                               Type="string" />
              </RegistryKey>
              <Condition>NOT Installed AND ASSISTANCE_START_VIA_REGISTRY</Condition>
            </Component-->
            
            <Component Id="SoftwareRegistration.Component"
                       Guid="{A3207A5A-ACC8-400E-A14B-950B09D4980C}">
              <RegistryKey Id="Software.RegistryKey"
                           Root="HKLM"
                           Key="SOFTWARE\SMARTdoc\Share"
                           ForceCreateOnInstall="yes">
                <RegistryValue Id="AppPath.RegistryValue" 
                               KeyPath ="yes"
                               Name="AppPath"
                               Value="[INSTALLFOLDER]"
                               Type="string" />
                <util:PermissionEx User="Everyone"
                                   CreateSubkeys="yes"
                                   EnumerateSubkeys="yes"
                                   GenericAll="yes"
                                   Read="yes"
                                   Write="yes"/>
              </RegistryKey>
              <RegistryKey Id="Monitors.RegistryKey"
                           Root="HKLM"
                           Key="SYSTEM\CurrentControlSet\Control\Print\Monitors"
                           ForceCreateOnInstall="yes">
                <util:PermissionEx User="Everyone"
                                    CreateSubkeys="yes" EnumerateSubkeys="yes"
                                    GenericAll="yes" Read="yes" Write="yes" />          
              </RegistryKey>
              <Condition>NOT Installed</Condition>
            </Component>

            <Component Id="SmartPrinter.DriverSetupAction.Component"
                       Guid="EF1E039D-E07A-44AE-BD0E-6D4B89644E23">
              <File Id="SmartPrint.DriverSetupAction.dll.File"
                    KeyPath="yes"
                    DiskId="1"
                    Source="$(var.SmartPrint.DriverSetupAction.TargetDir)SmartPrint.DriverSetupAction.dll" />
            </Component>

            <Component Id="SmartPrinter.Model.Component"
                       Guid="BF697FB3-0CBB-406D-B868-304E71D5427C">
              <File Id="SmartPrint.Model.dll.File"
                    KeyPath="yes"
                    DiskId="1"
                    Source="$(var.SmartPrinter.UI.TargetDir)SmartPrint.Model.dll" />
            </Component>
            
            <Component Id="SmartPrinter.UI.Component"
                       Guid="{998887B6-CA66-48E5-BCAF-6FCEAC694A05}">
              <File Id="SmartPrinter.UI.Exe.FIle"
                    Source="$(var.SmartPrinter.UI.TargetDir)SmartPrinter.UI.exe"
                    KeyPath="yes"
                    DiskId="1"  />
            </Component>
            
            <Component Id="WpfNotifyIcon.Component"
                       Guid="{B37D2062-11C2-4A30-9446-F55FA1F02596}">
              <File Id="Hardcodet.Wpf.TaskbarNotification.dll.File"
                    Source="..\Lib\Hardcodet.Wpf.TaskbarNotification.dll"
                    KeyPath="yes"
                    DiskId="1" />
            </Component>
            
            <Component Id="System.Windows.Interactivity.Component"
                       Guid="{833FBED9-64FF-4451-A5B8-F68852156325}">
              <File Id="System.Windows.Interactivity.dll.File"
                    Source="..\Lib\System.Windows.Interactivity.dll"
                    KeyPath="yes"
                    DiskId="1" />
            </Component>
            
            <Component Id="Ghostscript.Component"
                       Guid="{7553D2E8-6DD7-4796-8C7B-342B1F29095B}">
              <File Id="Gsdll32.dll.File"
                    Source="..\Lib\gsdll32.dll"
                    KeyPath="yes"
                    DiskId="1" />
            </Component>
            
            <Component Id="Ghostscript.NET.Component"
                       Guid="{B8BF4D55-FB76-4F18-ACF6-BDD969987AA8}">
              <File Id="Ghostscript.NET.dll.File"
                    Source="..\Lib\Ghostscript.NET.dll"
                    KeyPath="yes"
                    DiskId="1" />
            </Component>
            
            <Directory Id="EmptyTempFolder" Name="Temp">
              <Component Id="CreateEmptyTempFolder.Component"
                         Guid="{08ED68C9-C256-49ED-A428-F6EC96634954}"
                         KeyPath="yes">
                <CreateFolder>
                  <util:PermissionEx 
                    User="Everyone"
                    GenericAll="yes"
                    CreateChild="yes"
                    DeleteChild="yes"
                    CreateFile="yes"
                    Read="yes"
                    Traverse="yes"/>
                </CreateFolder>
              </Component>
            </Directory>
            <!-- TempFolder -->
          </Directory>
          <!-- INSTALLFOLDER -->
        </Directory>
        <!-- SMARTdocFolder -->
      </Directory>
      <!-- ProgramFilesFolder -->
    
      <Component Id="AppPathKey.Component" Guid="{B0296E65-B539-48AF-8042-A98DFDE7DA12}">
        <RegistryValue Root="HKLM" Key="Software\SMARTdoc\Share"
                        Name="AppPath" Type="string" 
                        Value="[INSTALLFOLDER]" KeyPath="yes"/>
      </Component>
    
    </Directory>
    <!-- TARGETDIR -->

    <Feature Id="ProductFeature"
             Title="SmartPrint Setup"
             ConfigurableDirectory="INSTALLFOLDER"
             Level="1">
      <!--Mfilemon components-->
      <ComponentRef Id="mfilemonUI.dll.Component" />
      <ComponentRef Id="mfilemon.dll.Component" />
      <!--Postscript Driver components-->
      <ComponentRef Id="PSCRIPT5.DLL.Component" />
      <ComponentRef Id="PS5UI.DLL.Component" />
      <ComponentRef Id="SMARTPRINTER.PPD.Component" />
      <ComponentRef Id="PSCRIPT.NTF.Component" />
      <ComponentRef Id="PSCRIPT.HLP.Component" />
      <!--Ghostscript components-->
      <ComponentRef Id="Ghostscript.Component"/>
      <ComponentRef Id="Ghostscript.NET.Component"/>
      <!--Application components-->
      <ComponentRef Id="AppPathKey.Component"/>
      <ComponentRef Id="SmartPrinter.DriverSetupAction.Component"/>
      <ComponentRef Id="SmartPrinter.Model.Component" />
      <ComponentRef Id="SmartPrinter.UI.Component"/>
      <ComponentRef Id="WpfNotifyIcon.Component"/>
      <ComponentRef Id="System.Windows.Interactivity.Component"/>
      <ComponentRef Id="CreateEmptyTempFolder.Component"/>
      <!--Registry components-->
      <!--ComponentRef Id="Autorun.Component"/-->
      <ComponentRef Id="SoftwareRegistration.Component"/>
    </Feature>

  </Product>

</Wix>